body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #0f172a;
    color: #f8fafc;
}

.car-container {
    width: 400px;
    margin: 100px auto;
    padding: 35px;
    background: #1e293b;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.car-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.car-title span {
    color: #38bdf8;
}

.car-input {
    width: 100%;
    box-sizing: border-box;
    padding: 13px 15px;
    margin-bottom: 15px;

    background: #0f172a;
    color: #f8fafc;

    border: 1px solid #334155;
    border-radius: 10px;

    font-size: 16px;
    outline: none;

    transition: 0.25s;
}

.car-input:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.15);
}

.car-input::placeholder {
    color: #64748b;
}