body {
    background-color: hsla(210, 17%, 5%, 0.856);
}

.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;

    h1 {
        font-size: 4rem;
        color: hsl(51, 100%, 50%)
    }

    button {
        font-size: 1.7 rem;
        font-weight: bold;
        padding: 10px 20px;
        color: white;
        border: non;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    input[text] {
        font-size: 1.6rem;
        padding: 10px;
        border: 2px solid hsla(0, 0%, 80%, 0.5);
    }

    ol {
        padding: 0;

        li {
            font-size: 2rem;
            font-weight: bold;
            padding: 15px;
            background-color: hsl(0, 0%, 97%);
            margin-bottom: 10px;
            border: 3px solid hsla(0, 0%, 85%, 0.75);
            border-radius: 5px;
            display: flex;
            align-items: center;

        }
    }

}

.text {
    flex: 1;
}

.add-button {
    background-color: hsl(120, 73%, 55%);

    &:hover {
        background-color: hsl(120, 73%, 35%);
    }
}

.delete-button {
    background-color: hsl(4, 87%, 45%);

    &:hover {
        background-color: hsl(4, 87%, 27%);
    }
}

.move-button {
    background-color: hsl(184, 87%, 57%);

    &:hover {
        background-color: hsl(184, 87%, 37%);
    }
}

.delete-button,
.move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}